In [7]:
import pymysql
import pandas as pd

import warnings

In [8]:
warnings.filterwarnings('ignore')

In [4]:
try:
    connection = pymysql.connect(user='admin',
                                 host='database-1.cjocas8y2rhl.us-east-1.rds.amazonaws.com',
                                 port=3306,
                                 password='Uukkmskp1!#',
                                 database='juan'
                                 )
    print('Conexão feita com sucesso!')
except Exception as erro:
    print(f'Erro: {erro} - Falha na conexão')

Conexão feita com sucesso!

In [9]:
sql = 'select * from usuario'

df_user = pd.read_sql(sql, connection)
df_user

,id_usuario,cpf,nome_usuario,telefone_usuario,dt_nascimento
0,1,123.456.789-01,João Silva,(123) 456-7890,1990-01-15
1,2,234.567.890-12,Maria Santos,(234) 567-8901,1985-07-20
2,3,345.678.901-23,Pedro Oliveira,(345) 678-9012,2000-03-10
3,4,456.789.012-34,Ana Pereira,(456) 789-0123,1998-09-05
4,5,567.890.123-45,Carlos Rodrigues,(567) 890-1234,1982-12-30
5,6,678.901.234-56,Mariana Costa,(678) 901-2345,1995-06-25
6,7,789.012.345-67,Lucas Almeida,(789) 012-3456,1992-11-18
7,8,890.123.456-78,Isabela Ferreira,(890) 123-4567,2001-08-12
8,9,901.234.567-89,Rafael Souza,(901) 234-5678,1987-04-02
9,10,012.345.678-90,Amanda Santos,(012) 345-6789,1999-10-22
10,11,123.456.789-00,Bruno Oliveira,(123) 456-7890,1984-03-15
11,12,234.567.890-01,Juliana Lima,(234) 567-8901,1997-05-28
12,13,345.678.901-02,Gustavo Silva,(345) 678-9012,1989-07-09
13,14,456.789.012-03,Larissa Pereira,(456) 789-0123,2002-09-14
14,15,567.890.123-04,Fernando Rodrigues,(567) 890-1234,1983-12-07